{% extends "layout.html" %}
{% block body %}
{% from "_formhelpers.html" import render_field %}
<div class="col-md-8 col-md-offset-2">
<h4>Add a Sample</h4>

<form action="{{ url_for('add_sample') }}" method=post class=upload-sample>
  <dl>
    {{ form.csrf_token }} 
    {{ render_field(form.team) }} 
    {{ render_field(form.x) }}
    {{ render_field(form.y) }}
    {{ render_field(form.methane) }}
    {{ render_field(form.temperature) }}
    {{ render_field(form.humidity) }}
  </dl>
  <p><input type=submit value=Register>
</form>
</div>
{% endblock %}
