<!doctype html>
<title>Mission Control</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1><a href="{{ url_for('mission_control') }}">Mission Control</a></h1>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
<div class=footer>
    <a href="{{ url_for('mission_control') }}">mission control</a>
    <a href="{{ url_for('add_sample') }}">add sample</a>
    <a href="{{ url_for('add_photo') }}">add photo</a>
    <a href="{{ url_for('show_samples') }}">samples</a>
    <a href="{{ url_for('show_photos') }}">photos</a>
  {% if session.logged_in %}
    <a href="{{ url_for('logout') }}">log out</a>
    <a href="/admin">admin</a>
  {% else %}
    <a href="{{ url_for('login') }}">log in</a>
  {% endif %}
</div>
</div>
