<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mission Control</title>

    <script src="{{ url_for('static', filename='jquery/jquery-2.2.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='bootstrap-3.3.6/js/bootstrap.js')}}"></script>
    <link href="{{ url_for('static', filename='bootstrap-3.3.6/css/bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/site.css')}}" rel="stylesheet" />

</head>
<body>
    <div id="page">
        <header class="container navbar-fixed-top">
            <div id="menu" class="navbar navbar-default ">
                <div class="navbar-header">
                    <button class="btn btn-success navbar-toggle"
                            data-toggle="collapse"
                            data-target=".navbar-collapse">
                        Menu
                    </button>
                    <div id="logo">
                        <a href="http://mission.control/"><img src="{{ url_for('static', filename='Images/logo.png')}}" alt="logo" />Mission Control</a>
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">


    <li class="nav"><a href="{{ url_for('add_sample') }}">Add sample</a></li>
    <li class="nav"><a href="{{ url_for('add_photo') }}">Add photo</a></li>
    <li class="nav"><a href="{{ url_for('show_samples') }}">Samples</a></li>
  {% if session.logged_in %}
    <li class="nav"><a href="{{ url_for('logout') }}">Log Out</a></li>
    <li class="nav"><a href="/admin">Admin</a></li>
  {% else %}
    <li class="nav"><a href="{{ url_for('login') }}">Log In</a></li>
  {% endif %}
                    </ul>
                </div>


            </div>
        </header>

        <div class="container">


<!-- This is the end of the header  ======================================================================= -->
            <div id="page-content" class="row">

    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
      {% endfor %}

  {% block body %}{% endblock %}

            </div>

<!--This is the start of the footer ======================================================================= -->

        </div>
        <footer class="container panel-footer">


        </footer>
    </div>

</body>
</html>
