<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Mission Control</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/homepage.css') }}">

    <meta http-equiv="refresh" content="60">

</head>
<body>
    <div id="Page">
        <div id="Summary">
            
            <div id ="Logo">
                <div style="width:360px;">
                    <img style="float:left"  class="mlogo" src="{{ url_for('static', filename='Images/EarthToMars.png')}}" />
                    <div style="float:left">MISSION<br />CONTROL</div>
                </div>

                   

                <div class="cornertop" style="  width:370px  ">
                    <img style="float:right" src="{{ url_for('static', filename='Images/corner-br.png')}}" />
                </div>
            </div>

          
            <div id="SummarySet">
                <div class="SummaryData">
                    <h3>TIME</h3>
                    <h2>{{ time_info.now }}</h2>
                    <div class="cornertop">
                        <img style="float:left" src="{{ url_for('static', filename='Images/corner-bl.png')}}" />
                        
                    </div>
                </div>

                <div class="SummaryData">
                    <h3>T minus</h3>
                    <h2>{{ time_info.left }}</h2>
                    <div class="cornertop">
                    </div>
                    </div>

                <div class="SummaryData">
                    <h3>POINTS</h3>
                    <h2>{{ school_info.points}}</h2>
                    <div class="cornertop">
                        <img style="float:right" src="{{ url_for('static', filename='Images/corner-br.png')}}" />
                      
                    </div>
                </div>
            </div>
        </div>

        <div id="School">


                <h1><span>SCHOOL NAME: </span>{{ school_info.name }}</h1>
        </div>


        <div id="Readings">
            <div>
                <h1>METHANE</h1>

               
                <div class="corners">
                    <img style="float:left" src="{{ url_for('static', filename='Images/corner-tl.png')}}" />
                    <img style="float:right" src="{{ url_for('static', filename='Images/corner-tr.png')}}" />
                </div>

                <a href="{{ url_for('show_group_graph', type='methane') }}">
                <img style="width:100%;display:block;" src="{{ url_for('static', filename='graphs/methane_group_%d.png' % group_id) }}"></a>

                <div class="corners">
                    <img style="float:left" src="{{ url_for('static', filename='Images/corner-bl.png')}}" />
                    <img style="float:right" src="{{ url_for('static', filename='Images/corner-br.png')}}" />
                </div>
              
                            
                <h2><span>SCALE:</span> 0 &#8594; 10ppb</h2>
            </div>

            <div>
                <h1>TEMPERATURE</h1>
                <div class="corners">
                    <img style="float:left" src="{{ url_for('static', filename='Images/corner-tl.png')}}" />
                    <img style="float:right" src="{{ url_for('static', filename='Images/corner-tr.png')}}" />
                </div>
                <a href="{{ url_for('show_group_graph', type='temperature') }}">
                    <img style="width:100%;display:block;" src="{{ url_for('static', filename='graphs/temperature_group_%d.png' % group_id) }}"></a>

                <div class="corners">
                    <img style="float:left" src="{{ url_for('static', filename='Images/corner-bl.png')}}" />
                    <img style="float:right" src="{{ url_for('static', filename='Images/corner-br.png')}}" />
                </div>
                <h2><span>SCALE:</span> -80 &#8594; 30&deg;C</h2>
            </div>

            <div>
                <h1>HUMIDITY</h1>
                <div class="corners">
                    <img style="float:left" src="{{ url_for('static', filename='Images/corner-tl.png')}}" />
                    <img style="float:right" src="{{ url_for('static', filename='Images/corner-tr.png')}}" />
                </div>
            <a href="{{ url_for('show_group_graph', type='humidity') }}">
            <img style="width:100%;display:block;" src="{{ url_for('static', filename='graphs/humidity_group_%d.png' % group_id) }}"></a>

                <div class="corners">
                    <img style="float:left" src="{{ url_for('static', filename='Images/corner-bl.png')}}" />
                    <img style="float:right" src="{{ url_for('static', filename='Images/corner-br.png')}}" />
                </div>
                <h2><span>SCALE:</span> 0 &#8594; 100%</h2>
            </div>
        </div>

        <div id="Status">
            <div>
                <h2><span>PANORAMA: </span> {{ pan_info.num }} PHOTOS UPLOADED</h2>
            </div>

        </div>

        <div id="Exit">
            <p>
             <img src="{{ url_for('static', filename='photos/%s' % (pan_info.name)) }}">
            </p>

             <a href="{{ url_for('add_sample') }}">EXIT</a>
            

        </div>
        
        <p></p>
    </div>

</body>
</html>
