{% extends "layout.html" %}
{% block body %}
  {% if sample %}
<div class="col-md-12">
  <img class="submit-graph" src="{{ url_for('static', filename='graphs/after_submit_%d.png' % sample.id) }}"> 
</div>
</div><div class="row">
<div class="col-md-8 col-md-offset-2">
  <div class="samples">
  <table>
  <tr>
    <th>ID</th>
    <th>X</th>
    <th>Y</th>
    <th>Methane ppb</th>
    <th>Temperature C</th>
    <th>Humidity %</th>
  </tr>
  <tr>
    <td>{{ sample.id }}</td>
    <td>{{ sample.x }}</td>
    <td>{{sample.y}}</td>
    <td>{{sample.methane | round(2)}}</td>
    <td>{{sample.temperature| round(2)}}</td>
    <td>{{sample.humidity | round(2)}}</td>
  </tr>
  </table>
</div>
</div>
  {% else %}
    <p>No sample!
  {% endif %}
{% endblock %}
