{% extends "layout.html" %}
{% block body %}
  <div class="photos">
  <table>
  
  {% for y in range(20) %}
    <tr>
    {% for x in range(30) %}
        <td>
        {% if photos[x][y] %}
            <img class="mini-photo" src="{{ url_for('static', filename="photos/" + photos[x][y].image_path) }}">
        {% else %}
            <img class="mini-photo" src="{{ url_for('static', filename="blank.png") }}">
        {% endif %}
        </td>
  {% endfor %}
    </tr>
  {% endfor %}
    </table>
    </div>
{% endblock %}
