{% extends "layout.html" %}
{% block body %}
<!--  <img src="{{ url_for('static', filename='vor.png') }}"> -->
  {% if not samples %}
    <p>No samples here so far
  {% else %}
  <div class="samples">
  <table>
  <tr>
    <th>ID</th>
    <th>X</th>
    <th>Y</th>
    <th>Methane ppm</th>
    <th>Oxygen ppm</th>
    <th>Temperature C</th>
    <th>Humidity %</th>
  </tr>
  {% for sample in samples %}
  <tr>
    <td>{{ sample.id }}</td>
    <td>{{ sample.x }}</td>
    <td>{{sample.y}}</td>
    <td>{{sample.methane | round(2)}}</td>
    <td>{{sample.oxygen | round(2)}}</td>
    <td>{{sample.temperature| round(2)}}</td>
    <td>{{sample.humidity | round(2)}}</td>
  </tr>
  {% endfor %}

  </table>
  </div>
  {% endif %}
{% endblock %}
