{% extends 'admin/master.html' %}
{% import 'admin/lib.html' as lib with context %}
{% block body %}
      <p>
      <h1><a href="{{ url_for('zipped_data') }}">Download zip of data before reset!</a></h1>
    
    {% call lib.form_tag() %}
      <p>
      <input type="submit" name="reset" value="Reset website data"/>
      <p>
      <input type="submit" name="cleanuprobots" value="Cleanup Robots"/>
      <p>
      <input type="submit" name="shutdownrobots" value="Shutdown Robots"/>
      <p>
      <input type="submit" name="shutdownmc" value="Shutdown Mission Control"/>
    {% endcall %}
{% endblock %}
